
/*kolorki:
#010038 -  granatowy
#293a80 - niebieski
#537ec5 -  jasno niebieski
#f39422 - zółto-pomarańczowy
*/


.main-content{
 margin:1%;
}
.container{
    overflow: hidden;
    max-width: 1900px;
}

[class*="col-"] {
    background-clip: padding-box;
    border: 5px solid transparent;
}

.sticky-top{
    top: 20px;
}

.menu {
    color: black;
}
.menu a{
    line-height: 1em;
    color: black;
}

.navbar{
    font-family: Tahoma, serif;
    font-weight: 500;
    top:15px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1.5vh;
    margin: 0 0 1% 0;
}
.navbar-brand {
    padding: 15px;
}
.navbar-brand img {
    height: 10ch;
}

li.nav-item {
    font-size: 1.5em;
    line-height: 1.2em;
    text-shadow: 1px 1px 5px black;
}

.page-footer{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin: 1% 0 1% 0;
}

.formularz{
    width: 65%;
}

h1, h2{
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

pre {
    border: 15px solid rgba(0, 0, 0, 0);
}

.carousel-control-prev{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)) center center;
}

.carousel-control-next{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)) center center;
}

@media screen and (max-width: 767px) {
    .sticky-top {
        position: relative !important;
    }
    .main-content{
        margin: 0;
    }
    [class*="col-"] {
        background-clip: unset;
        border: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
    .formularz{
        width: auto;
    }
}